<div class="bg-white rounded-md">
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="flex flex-col items-center justify-center w-50 h-80 bg-white shadow-xl">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <input formControlName="username" placeholder="Usuario" />
          <input formControlName="password" type="password" placeholder="Contraseña" />
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
