.example-spacer {
  flex: 1 1 auto;
}

h1{
  margin: 0px;
}

.example-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.mat-toolbar {
  background-color: #3394d0a7;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.mat-sidenav {
  width: 20vw;
  height: 100%;
}

.transition-all {
  transition-property: all;
  transition-duration: 300ms;
}


.mat-sidenav-content {
  height: 100%;
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto; 
  box-sizing: border-box;
}

#item-navigation:hover{
  background-color: #3394d0a7;
  color: #fff !important;
  transform: scale(1.02);
}


#sidenav::-webkit-scrollbar {
  width: 6px;
}

#sidenav::-webkit-scrollbar-track {
  background: transparent;
}

#sidenav::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#sidenav::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#sidenav::-webkit-scrollbar {
  width: 0;
}

#sidenav:hover::-webkit-scrollbar {
  width: 6px;
}