<div class="flex p-0 z-10 shadow-md">
  <!-- <div class="spinner-container" *ngIf="loading$ | async">
    <div class="spinner"></div>
      <p>Cargando...</p>
  </div> -->
  <div id="sidenav" class="h-full p-5 pt-8 duration-300 relative group overflow-y-auto overflow-x-hidden overscroll-y-auto bg-blue-500" [ngClass]="{
      'w-72': toolbarService.isFixed,
      'w-20 hover:w-72 shadow-md': !toolbarService.isFixed
    }">
    <button (click)="toggleFixed()"
      class="text-white py-2 px-2 h-10 hover:bg-blue-100 hover:text-blue-500 hover:border hover:border-blue-100 rounded-full mb-4 transition flex justify-end">
      <mat-icon>{{ toolbarService.isFixed ? 'lock_open' : 'menu' }}</mat-icon>
    </button>
    <div class="flex items-center justify-center mx-auto rounded-full " [ngClass]="{
      'h-24 mb-6 mt-6': toolbarService.isFixed || toolbarService.isOpen,
      'h-10 m-0 group-hover:h-24 mb-6 mt-6': !toolbarService.isFixed && !toolbarService.isOpen
    }">
      <img src="../../../../assets/images/avatars/male-04.jpg" alt="profile-image" class="object-cover rounded-full" [ngClass]="{
        'h-24 mb-6 mt-6': toolbarService.isFixed || toolbarService.isOpen,
        'h-10 m-0 group-hover:h-24 mb-6 mt-6': !toolbarService.isFixed && !toolbarService.isOpen
      }">
    </div>
    <!-- Item-Search -->
    <div class="flex items-center rounded-md bg-gray-300 hover:bg-blue-100 mt-6 py-1"
      [ngClass]="!toolbarService.isOpen ? 'px-1' : 'px-4'">
      <mat-icon class="text-white text-lg block float-left cursor-pointer text-center items-center" [ngClass]="{
        'mr-1': toolbarService.isFixed || toolbarService.isOpen,
        'ml-1 group-hover:mr-1': !toolbarService.isFixed && !toolbarService.isOpen
      }">search</mat-icon>
      <input type="search" placeholder="Buscar" class="mr-1 text-base bg-transparent text-black focus:outline-none" [ngClass]="{
        'w-full': toolbarService.isFixed || toolbarService.isOpen,
        'w-0 group-hover:w-full': !toolbarService.isFixed && !toolbarService.isOpen
      }">
    </div>
    <!-- MENU-ITEMS -->
    <ul>
      <ng-container *ngIf="navigationMenu">
        <ng-container *ngFor="let item of navigationMenu.menu; let i = index">
          <li *ngIf="item.submenu; else otherItem">
              <button
              (click)="setSubmenuOpen()"
              class="w-full text-gray-300 text-left text-sm flex items-center gap-x-4 cursor-pointer p-2 rounded-md mt-2 hover:scale-105 transition-transform duration-200 ease-in-out hover:bg-blue-100 hover:text-blue-500"
              >
              <span class="text-2xl block float-left items-center flex">
                <mat-icon class="">{{ item.icon }}</mat-icon>
              </span>
              <span class="text-base font-medium flex-1 transition-all duration-300" [ngClass]="{
                'opacity-100': toolbarService.isFixed || toolbarService.isOpen,
                'opacity-0 group-hover:opacity-100': !toolbarService.isFixed && !toolbarService.isOpen
                }">
                  {{ item.title }}
              </span>
            </button>
          </li>
            <div *ngIf="item.submenu && submenuOpen" class="transition-all duration-700 ease-in flex items-center overflow-hidden"
              [ngClass]="{
                'pl-3': toolbarService.isFixed || toolbarService.isOpen,
                'group-hover:pl-3': !toolbarService.isFixed && !toolbarService.isOpen,
                'pl-0': !toolbarService.isFixed && !toolbarService.isOpen,
                'group-hover:max-h-auto group-hover:opacity-100': !toolbarService.isFixed,
                'max-h-auto opacity-100 ': toolbarService.isFixed || toolbarService.isOpen
              }">
              <ul>
                <ng-container *ngFor="let subItem of item.submenuItems">
                  <li>
                    <button (click)="navigateTo(subItem.path)"  
                      class="text-sm text-gray-300 flex items-center justify-start items-center gap-x-4 cursor-pointer p-2 rounded-md mt-2 items-center flex hover:scale-105 transition-transform duration-300 ease-in hover:bg-blue-100 hover:text-blue-500 focus:bg-blue-100 focus:text-blue-500"
                      >
                      <span class="block float-left items-center flex">
                        <mat-icon>{{ subItem.icon }}</mat-icon>
                      </span>
                      <span class="mr-1 transition-all duration-700 flex ease-in w-full" [ngClass]="{
                        'opacity-0 w-0 group-hover:opacity-100 w-full': !toolbarService.isFixed && !toolbarService.isOpen,
                        'group-hover:opacity-100 group-hover:w-3xs': !toolbarService.isFixed,
                        'max-w-3xs opacity-100': toolbarService.isFixed || toolbarService.isOpen
                        }">{{ subItem.title }}</span>
                    </button>
                  </li>
                </ng-container>
              </ul>
            </div>
          <ng-template #otherItem>
            <li>
              <button
                (click)="navigateTo(item.path)"
                class="w-full text-gray-300 text-left text-sm flex items-center gap-x-4 cursor-pointer p-2 rounded-md mt-2 hover:scale-105 transition-transform duration-200 ease-in-out focus:outline-none hover:bg-blue-100 hover:text-blue-500 focus:bg-blue-100 focus:text-blue-500"
                >
                <span class="text-2xl block float-left items-center flex">
                  <mat-icon>{{item.icon}}</mat-icon>
                </span>
                <span class="text-base font-medium flex-1 transition-all duration-300" [ngClass]="{
                  'opacity-100': toolbarService.isFixed || toolbarService.isOpen,
                  'opacity-0 group-hover:opacity-100': !toolbarService.isFixed && !toolbarService.isOpen
                  }">
                  {{ item.title }}
                </span>
              </button>
            </li>
          </ng-template>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>