<div
  *ngIf="visible"
  class="fixed bottom-10 left-1/2 transform -translate-x-1/2 transition-opacity duration-500 ease-in-out  z-50 w-full max-w-sm"
>
  <div
    class="relative w-full p-4 rounded-xl shadow-xl animate-fade-in-out"
    [ngClass]="estilos"
  >
    <div class="flex flex-col justify-start items-start">
      <button
        class="absolute top-1 right-2 text-xl font-bold hover:text-gray-500 focus:outline-none"
        (click)="close()"
      >
        ×
      </button>
      <div class="flex items-start justify-center gap-2 font-sans">
        <mat-icon class="text-sm">{{ icono }}</mat-icon>
        <div>
          <p class="font-semibold tracking-wide">{{ titulo }}</p>
          <p class="text-sm">{{ mensaje }}</p>
        </div>
      </div>
    </div>
  </div>
</div>